<!-- Main jumbotron for a primary marketing message or call to action -->
{{>header}}
<div class="jumbotron">
    <div class="container">
        <h1>LRS Test</h1>
        <p>This bare minimum app should spin up the test suite in a process, and display the results </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Launch Test</h2>
            <p>Run the test against a given URL</p>
            <p><a class="btn btn-default" href="/tests/start" role="button">Configure Test &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Tests in Progress</h2>
            <p>Run the test against a given URL</p>
            <p><a class="btn btn-default" href="/tests/running" role="button">Running Tests &raquo;</a></p>
        </div>
    </div>
    <hr>
    
</div>
<!-- /container -->
{{>footer}}
